.container{
    margin-top: 110px;
    margin-bottom: 70px;
}

.slidesWrapper{
    width: 100%;
}

.imgWrapper{
    width: 480px !important;
    height: 480px;
}


.img{
    width: 100%;
    height: 100%;
}

.slideText{
    text-align: center;
    color: #E3E7F2;
    margin-top: 50px;
}

.slideId{
    font-size: 20px;
    font-weight: 600;
}

.slideTitle{
    font-size: 30px;
    font-weight: 600;
}

.p{
    font-size: 22px;
    font-weight: 300;
    opacity: 0.5;
}