.wrapper{
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    text-align-last: left;
    opacity: 1;
    z-index: 10;
    background-color: #fff;
}


.wrapper:hover{
    border-radius: 50% 0% 50% 50% / 50% 0% 50% 50%;
    border-color: #1f1f1f;
    transition: border-radius 0.2s ease-out;
}