.wrapper{
    width: 75%;
    margin-top: 80px;
}

.subtitle{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 8px;
}

.textWhite, .textGrey{
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
}

.textWhite{
    color: #E3E7F2;
}

.textGrey, .subtitle{
    color: #454648;
}